@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap&family=Montserrat');

body {
  min-height: 100vh;
  overflow-y: hidden;
  font-family: Poppins;
  background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmlydGhkYXl8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60');
  background-size: cover;
  min-height: 100vh;
}

header {
  text-align: center;
  font-family: Montserrat;
  color: #eee;
}

.card-component {
  background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
  padding: 1.2rem 0rem ;
  margin: 10vh auto;
  max-width: 280px;
  color: #eee;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}

input {
  margin-bottom: 15px;
}

.birthday-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.submit-button {
  border: outset;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
}

.footer-component {
  position: fixed;
  padding: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-component section {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.footer-component section img {
  width: 25px;
}